---
import Profile from "./Profile.astro";
import Thumbnail from "./Thumbnail.astro";

export interface Props {
  author: {
    imageProfile: string;
    name: string;
    specialist: string;
  };
  slug: string;
  title: string;
  description: string;
  published: string;
  category: string;
  thumbnail: string;
}

const { author, slug, title, description, published, category, thumbnail } =
  Astro.props as Props;
---
<a class="md:col-span-2 lg:col-span-3" href={`/posts/${slug}`}>
  <section
    class="border-b border-[#FFFFFF1A] last:border-none md:border-none md:grid md:grid-cols-2 md:gap-9 lg:grid-cols-3 items-center"
  >
    <Thumbnail
      thumbnail={thumbnail}
      published={published}
      category={category}
      unShow
      primary
    />
  
    <div>
      <div class="space-y-2.5 mb-5">
        <p class="opacity-60 flex items-center gap-x-3">
          {category}
          <span class="w-1.5 h-1.5 bg-white rounded-full"></span>
          {published}
        </p>
        <h1 class="text-2xl">{title}</h1>
        <p class="opacity-60">
          {
            description.length > 190
              ? description.slice(0, 190) + "..."
              : description
          }
        </p>
      </div>
  
      <Profile
        imageProfile={author.imageProfile}
        name={author.name}
        specialist={author.specialist}
      />
    </div>
  </section>
</a>
