---
import Profile from "./Profile.astro"

export interface Props {
  author: {
    imageProfile: string;
    name: string;
    specialist: string;
  };
  thumbnail: string;
  title: string;
  published: string;
  category: string;
}

const { author, thumbnail, title, published, category } = Astro.props as Props
---

<div class="xl:container mx-auto px-8 pb-8">
  <div class="flex flex-col justify-center items-center text-center">
    <p class="flex items-center gap-x-3 opacity-60">{category} <span class="w-1.5 h-1.5 rounded-full bg-white"></span> {published}</p>
    <h1 class="mt-2.5 mb-8 text-2xl md:w-1/2">{title}</h1>

    <Profile imageProfile={author.imageProfile} name={author.name} specialist={author.specialist} />

    <img class="mt-8 lg:w-9/12 h-auto object-cover rounded-xl" src={thumbnail} alt="thumbnail">
  </div>
</div>