---
import PostHeader from "../components/PostHeader.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"

export interface Props {
  title: string;
  author: {
    imageProfile: string;
    name: string;
    specialist: string;
  };
  thumbnail: string;
  published: string;
  category: string;
}

const { title, author, thumbnail, published, category } = Astro.props.frontmatter as Props || Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">   
  <title>{title}</title><link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
  <Navbar />
  <PostHeader 
    title={title} 
    thumbnail={thumbnail} 
    author={author}
    published={published}
    category={category} />

  <!-- Markdown slot -->
  <div class="xl:container mx-auto px-8 flex justify-center items-center">
    <div class="md:w-4/5 lg:w-3/5 slot">
      <slot/>
    </div>
  </div>
  
  <Footer />

  <style is:global>
    * {
      font-family: "Patrick Hand", cursive;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      color: white;
      background-image: linear-gradient(to bottom, #374151 0%, #111827 100%);
      background-position: 0;
      min-height: 100vh;
      background-repeat: no-repeat;
    }

    .slot > h1 {
      font-size: 24px;
      margin-bottom: 30px;
    }

    .slot > p {
      margin-bottom: 1rem;
    }

    @media screen and (min-width: 640px) {
      .slot > h1 {
        font-size: 30px;
      }
    }
</style>
</body>
</html>